@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-very-dark-blue: hsl(233, 47%, 7%); /* main background */
  --primary-dark-desaturated-blue: hsl(244, 38%, 16%); /* card background */
  --primary-soft-violet: hsl(277, 64%, 61%); /* accent */
  --neutral-white: hsl(0, 0%, 100%); /* main heading, stats */
  --neutral-slightly-transparent-white: hsla(0, 0%, 100%, 0.75); /* main paragraph */
  --neutral-slightly-transparent-white: hsla(0, 0%, 100%, 0.6); /* stat headings */
  --font-family-inter: Inter;
  --font-family-lexend: "Lexend Deca";
  --font-weight-400: 400;
  --font-weight-700: 700;
}

body {
  font-family: var(--font-family-inter);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-very-dark-blue);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-soft-violet);
  border-radius: 0.438rem;
}

img {
  mix-blend-mode: multiply;
}

.img-mobile {
  height: 15rem;
  width: 20.438rem; /* */
  border-radius: 0.438rem 0.438rem 0 0;
}

.img-desktop {
  display: none;
}

/* .card::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 15rem;
  background-color: hsla(277, 100%, 37%, .4);
  border-radius: 0.438rem 0.438rem 0 0;
} */

.card-info-section {
  width: 20.438rem; /* */
  height: 33.75rem;
  background-color: var(--primary-dark-desaturated-blue);
  padding: 2.813rem 2.188rem 2.188rem 2.188rem;
  color: var(--neutral-white);
  text-align: center;
  border-radius: 0 0 0.438rem 0.438rem;
}

h1 {
  font-size: 1.625rem;
  margin-bottom: 1.438rem;
}

span {
  color: var(--primary-soft-violet);
}

.card-info-section > p {
  font-size: 0.938rem;
  line-height: 1.5rem;
  margin-bottom: 2.813rem;
}

.stats {
  height: 12.813rem;
}

.templates {
  margin: 1.75rem 0;
}

.stats p {
  text-transform: uppercase;
}

@media only screen and (min-width: 1110px) {
  .card {
    display: grid;
    grid-template-columns: 35.625rem 33.75rem;
    grid-template-rows: 1fr;
  }

  .card::before {
    position: absolute;
    content: "";
    top: 0;
    left: 35.625rem;
    width: 33.75rem;
    height: 27.875rem;
    background-color: hsla(277, 100%, 37%, .4);
    border-radius: 0 0.438rem 0.438rem 0;
  }

  img {
    grid-column: 2 / 3;
    width: 33.75rem;
    height: 27.875rem;
    border-radius: 0 0.438rem 0.438rem 0;
    object-fit: cover;
  }

  .img-mobile {
    display: none;
  }

  .img-desktop {
    display: block;
  }

  .card-info-section {
    grid-column: 1 / 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 35.625rem;
    height: 27.875rem;
    padding: 4.375rem 7.5rem 0 4.375rem;
    border-radius: 0.438rem 0 0 0.438rem;
  }

  h1 {
    font-size: 2.25rem;
    text-align: left;
    margin-bottom: 1.938rem;
  }

  .stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }

  .templates {
    margin: 0;
  }

  .card-info-section > p {
    padding-right: 3.125rem;
    text-align: left;
    margin-bottom: 4.75rem;
  }

  .stats > p, h2 {
    text-align: left;
  }

  h2 {
    margin-bottom: 0.438rem;
  }
}